<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog/">Blog</a>
  <h1>About Me</h1>
  <h2>隆Hey! Soy Javier Pardo </h2>
  <p>
    Estudiante de Ingenier铆a de Sistemas y Computaci贸n & Desarrollador FullStack
  </p>
  <p>
    Apasionado por la tecnolog铆a y el desarrollo de software, siempre estoy
    buscando aprender nuevas habilidades y mejorar mis conocimientos.
  </p>
  <p>
    Mi introducci贸n al desarrollo de software ocurri贸 a los 20 a帽os, con Java,
    momento en el que descubr铆 la fascinaci贸n de aplicar la l贸gica para crear
    soluciones con un ordenador.
  </p>
  <p>
    De manera aut贸noma, ampli茅 mis habilidades aprendiendo sobre Soporte y
    Mantenimiento de Computadores, mientras simult谩neamente desarrollaba
    aplicaciones de escritorio para conocidos y empresas de la regi贸n. Estos
    proyectos incluyeron la creaci贸n de un Bingo, un software de facturaci贸n e
    inventario, entre otros.
  </p>
  <p>
    Durante mi tiempo en la universidad, profundic茅 en la Ingenier铆a de Sistemas
    y Computaci贸n, yendo m谩s all谩 de la simple creaci贸n de software. En 2019,
    tuve la oportunidad de ingresar profesionalmente a una empresa como
    Desarrollador FullStack, donde adquir铆 nuevas habilidades en tecnolog铆as,
    metodolog铆as, y experiment茅 diferentes culturas y formas de aprendizaje,
    destacando la importancia del trabajo en equipo .
  </p>
  <p>
    Actualmente, contin煤o trabajando profesionalmente como desarrollador
    FullStack. Aunque me enfoco principalmente en el Frontend, considero crucial
    comprender todo el flujo de una aplicaci贸n, desde el backend hasta la base
    de datos y m谩s all谩.
  </p>
</body>
